version: '3.9'

services:
  db:
    # arm64v8/postgres:latest for aAc user with m1 or m2 processor
    image: postgres:15.3-alpine3.18
    container_name: db
    restart: unless-stopped
    networks:
        - database_network
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./db-data:/var/lib/postgresql/data/
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  pgadmin: # https://turreta.com/blog/2020/07/31/docker-compose-yml-for-pgadmin-and-postgresql/
    image: dpage/pgadmin4:7.4
    container_name: pgadmin
    restart: unless-stopped
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
        - database_network
    environment:
      PGADMIN_DEFAULT_EMAIL: joergoertel@proton.me
      PGADMIN_DEFAULT_PASSWORD: admin

networks:
  database_network:
        name: database_network
        internal: false
        driver: bridge
